@page
@model EvenimenteSportive.Pages.Participanti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Varsta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Varsta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Echipa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Echipa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.IDEveniment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.IDEveniment)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Participant.ID">Editeaza</a>
    <a asp-page="./Index">Inapoi la lista</a>
</div>
