@page
@model EvenimenteSportive.Pages.Sponsori.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sponsor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.Buget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Buget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.DurataContract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.DurataContract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.IDEveniment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.IDEveniment)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Sponsor.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
