@page "{id:int}"
@model EvenimenteSportive.Pages.Evenimente.EditModel
@{
    ViewData["Title"] = "Editare Eveniment";
}


<form method="post">
    <input type="hidden" id="ID" name="EvenimentSportiv.ID" value="@Model.EvenimentSportiv.ID" />
    <div class="form-group">
        <label for="Nume">Nume</label>
        <input type="text" id="Nume" name="EvenimentSportiv.Nume" class="form-control" value="@Model.EvenimentSportiv.Nume" required />
    </div>
    <div class="form-group">
        <label for="Data">Data</label>
        <input type="date" id="Data" name="EvenimentSportiv.Data" class="form-control" value="@Model.EvenimentSportiv.Data.ToString("yyyy-MM-dd")" required />
    </div>
    <div class="form-group">
        <label for="Tip">Tip</label>
        <input type="text" id="Tip" name="EvenimentSportiv.Tip" class="form-control" value="@Model.EvenimentSportiv.Tip" required />
    </div>
    <div class="form-group">
        <label for="IDLocatie">Locatie</label>
        <select id="IDLocatie" name="EvenimentSportiv.IDLocatie" class="form-control" required>
            @foreach (var locatie in Model.Locatii)
            {
                @if (locatie.ID == Model.EvenimentSportiv.IDLocatie)
                {
                    <option value="@locatie.ID" selected>@locatie.Nume</option>
                }
                else
                {
                    <option value="@locatie.ID">@locatie.Nume</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salveaza</button>
    <a asp-page="./Index" class="btn btn-secondary">Anuleaza</a>
</form>

